sample-custom-connecter/src/main/app/sample-custom-connecter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:demo-custom="http://www.mulesoft.org/schema/mule/demo-custom" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:welcome="http://www.mulesoft.org/schema/mule/welcome" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/demo-custom http://www.mulesoft.org/schema/mule/demo-custom/current/mule-demo-custom.xsd
http://www.mulesoft.org/schema/mule/welcome http://www.mulesoft.org/schema/mule/welcome/current/mule-welcome.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <demo-custom:config name="DemoCustom__Configuration" doc:name="DemoCustom: Configuration"/>
    <welcome:config name="Welcome__Configuration" password="bramheswar" username="bramheswar" doc:name="Welcome: Configuration"/>
    <flow name="sample-custom-connecterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/custom1" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="We are started  custom connector testing" level="INFO" doc:name="Logger"/>
        <set-payload value="#['BRAMHESWAR']" doc:name="Set Payload"/>
        <demo-custom:greet config-ref="DemoCustom__Configuration" friend="#[payload]" doc:name="DemoCustom"/>
        <logger message="Result of Demo custom connector is #[payload]" level="INFO" doc:name="Logger"/>
        <welcome:welcome config-ref="Welcome__Configuration" user="BRAMHESWAR" doc:name="Welcome"/>
        <logger message="Result of Welcome custom connector is #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
